@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.body {
  background: linear-gradient(146deg, rgb(37, 53, 66) 0%, rgb(52, 74, 85) 50%);
}

.login-page {
  width: 26rem;
  margin: auto;
}

input {
  font-family: FontAwesome, 'Roboto', sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  border-radius: 10px;
}
button {
  font-family: 'Titillium Web', sans-serif;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.1em;
  outline: 0;
  background: #ff4500;
  width: 100%;
  border: 0;
  border-radius: 30px;
  padding: 15px;
  color: #ffffff;
  transition: all 0.3 ease;
  cursor: pointer;
  transition: all 0.2s;
}
button:hover,
.form button:focus {
  background: #ff4500;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transform: translateY(-4px);
}
button:active {
  transform: translateY(2px);
  box-shadow: 0 2.5px 5px rgba(0, 0, 0, 0.2);
}

.message {
  color: #860a0a;
  font-size: 24px;
  text-align: center;
  font-weight: bold;
  font-style: normal;
}
